
<div class="flex-col">
    <h1>Home</h1>
    <%= icon('fa-brands', 'font-awesome') %><%= link_to "ADMIN", new_admin_session_path %>
    <%= icon('fa-solid', 'user-secret') %><%= link_to "USER", new_user_session_path %>
</div>